---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Plans from '../components/Plans.astro';
import Facilities from '../components/Facilities.astro';
import Testimonials from '../components/Testimonials.astro';
import Carousel from '../components/Carousel.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Agustín Turriedf - Entrenador de Fuerza | Rojas, Buenos Aires">
  <Navbar />
  <main>
    <Hero />
    <Plans />
    <Facilities />
    <Testimonials />
    <Carousel />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
