---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/astro/Navbar.astro';
import Hero from '../components/astro/Hero.astro';
import Plans from '../components/astro/Plans.astro';
import Facilities from '../components/astro/Facilities.astro';
import Testimonials from '../components/astro/Testimonials.astro';
import Carousel from '../components/astro/Carousel.astro';
import FAQ from '../components/astro/FAQ.astro';
import Contact from '../components/astro/Contact.astro';
import Footer from '../components/astro/Footer.astro';
---

<Layout title="AgustinTurriEDF - Entrenador de Fuerza | Rojas, Buenos Aires">
  <Navbar />
  <main>
    <Hero />
    <Plans />
    <Facilities />
    <Testimonials />
    <Carousel />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
